n8n-workflows/wf_calendar_final.json
{"updatedAt":"2026-03-13T09:29:41.577Z","createdAt":"2026-02-24T22:41:14.673Z","id":"naUcl_IxlyRJR6rPp575A","name":"Időpont + Calendar_FINAL","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const q = $input.item.json.query;\nconst rawDate = q[\"KezelesDatuma\"];\nlet formattedDate = rawDate;\nif (rawDate && rawDate.includes('/')) {\n  const parts = rawDate.split('/');\n  formattedDate = `${parts[2]}-${parts[0].padStart(2,'0')}-${parts[1].padStart(2,'0')}`;\n}\nreturn {\n  json: {\n    \"Keresztnév\": q[\"Keresztnev\"],\n    \"Teljes név\": q[\"Keresztnev\"] + \" \" + q[\"Vezeteknev\"],\n    \"Email\": q[\"Email\"],\n    \"Vendég ID\": q[\"VendegID\"],\n    \"Kezelés dátuma\": formattedDate,\n    \"Kezelés kezdete\": q[\"KezelesKezdete\"],\n    \"Kezelés típusa\": q[\"KezelesTipusa\"]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,-128],"id":"40f2b6fb-3f8c-4eaa-b9ac-34d1a19acec4","name":"Mapper Code"},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const datum = item.json['Kezelés dátuma'];\n  const ido = item.json['Kezelés kezdete'] || '10:00';\n  const kezelestipus = item.json['Kezelés típusa'] || 'Kezelés';\n  const nev = item.json['Teljes név'];\n  const email = item.json.Email;\n  \n  let dateStr = datum;\n  if (typeof datum === 'object' && datum.toISOString) {\n    dateStr = datum.toISOString().split('T')[0];\n  } else if (typeof datum === 'string' && datum.includes('.')) {\n    const parts = datum.split('.');\n    dateStr = `${parts[0]}-${parts[1].padStart(2,'0')}-${parts[2].padStart(2,'0')}`;\n  }\n  \n  const [hour, minute] = ido.split(':');\n  const startDateTime = `${dateStr}T${hour.padStart(2,'0')}:${minute.padStart(2,'0')}:00`;\n  \n  const start = new Date(startDateTime);\n  const end = new Date(start.getTime() + 60 * 60000);\n  \n  function formatDate(d) {\n    const y = d.getFullYear();\n    const m = String(d.getMonth()+1).padStart(2,'0');\n    const day = String(d.getDate()).padStart(2,'0');\n    const h = String(d.getHours()).padStart(2,'0');\n    const min = String(d.getMinutes()).padStart(2,'0');\n    const s = String(d.getSeconds()).padStart(2,'0');\n    return `${y}-${m}-${day}T${h}:${min}:${s}`;\n  }\n  \n  const icsContent = `BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//SkinSpirit//Idopont//HU\nBEGIN:VEVENT\nUID:${item.json['Vendég ID']}-${Date.now()}@skinspirit.hu\nDTSTART:${formatDate(start).replace(/[-:]/g,'')}\nDTEND:${formatDate(end).replace(/[-:]/g,'')}\nSUMMARY:SkinSpirit - lézer\nDESCRIPTION:Időpont: ${kezelestipus} kezelésre. Ne felejtsd el alaposan leborotválni a kezelendő területet a minél hatékonyabb eredmény érdekében. 😊\\nHelyszín: Budapest Hun u. 4./a. 1136\\nTelefon: +36 30 830 9808\nLOCATION:Budapest Hun u. 4./a. 1136\nSTATUS:CONFIRMED\nBEGIN:VALARM\nTRIGGER:-PT24H\nACTION:DISPLAY\nDESCRIPTION:Holnap van a SkinSpirit kezelésed!\nEND:VALARM\nEND:VEVENT\nEND:VCALENDAR`;\n  \n  results.push({\n    json: {\n      ...item.json,\n\n      // 🔹 EREDETI OUTPUTOK\n      icsContent: icsContent,\n      icsFilename: `SkinSpirit-Idopont-${dateStr}.ics`,\n      appointmentDate: dateStr,\n      appointmentTime: ido,\n\n      // 🔹 GOOGLE CALENDAR INPUT (ÚJ)\n      gcStart: formatDate(start),\n      gcEnd: formatDate(end)\n    }\n  });\n}\n\nreturn results;\n"},"id":"9263c0d8-358c-4b28-a824-bbc37e1a76c2","name":"Generate ICS File1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-128]},{"parameters":{"jsCode":"const item = $input.item.json;\nconst datum = item.appointmentDate;\nconst ido = item.appointmentTime;\nconst kezelestipus = item['Kezelés típusa'] || 'kezelésre';\n\nconst htmlBody = `<!DOCTYPE html>\n<html lang=\"hu\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#f9f6f2; font-family:Arial, sans-serif;\">\n\n<div style=\"max-width:650px; margin:0 auto; background-color:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.1);\">\n\n<div style=\"background-color:#f9f6f2; padding:20px 30px; text-align:left; border-bottom:1px solid #e8e3d8;\">\n  <img src=\"https://i.imgur.com/dX6oZmt.png\" alt=\"SkinSpirit\" style=\"height:30px; width:auto;\">\n</div>\n\n<div style=\"padding:40px 30px; background-color:#ffffff;\">\n\n<p style=\"font-size:16px; margin-bottom:20px; color:#333;\">Kedves ${item.Keresztnév}!</p>\n\n<p style=\"margin-bottom:20px; color:#555; line-height:1.6;\">Megerősítjük az időpontodat diódalézeres szőrtelenítésre! 🎉</p>\n\n<div style=\"background-color:#f0f8ff; padding:20px; border-left:4px solid #007bff; margin:20px 0;\">\n<p style=\"margin:0 0 10px 0; font-weight:bold; font-size:17px; color:#333;\">📅 Időpont részletei:</p>\n<p style=\"margin:5px 0; color:#555;\"><strong>Dátum:</strong> ${datum}</p>\n<p style=\"margin:5px 0; color:#555;\"><strong>Időpont:</strong> ${ido}</p>\n<p style=\"margin:5px 0; color:#555;\"><strong>Helyszín:</strong> Budapest, Hun u. 4./a. 1136</p>\n</div>\n\n<p style=\"margin-bottom:20px; color:#555; line-height:1.6;\">A csatolt naptárfájlt (.ics) megnyitva az időpont automatikusan bekerül a saját naptáradba! 📲</p>\n\n<p style=\"margin-bottom:20px; color:#555; line-height:1.6;\">Ha bármilyen kérdésed van, vagy módosítani szeretnéd az időpontot, nyugodtan hívj! 😊</p>\n\n<hr style=\"border:none; border-top:1px solid #e8e3d8; margin:30px 0;\">\n\n<div style=\"padding-top:10px;\">\n<p style=\"margin:0 0 10px 0; font-size:16px; color:#333;\"><strong>Várunk szeretettel! ☀️</strong></p>\n<p style=\"margin:0 0 8px 0; color:#555; font-size:15px;\"><strong>Kurucz Anett</strong></p>\n<p style=\"margin:0 0 5px 0; color:#555; font-size:14px;\">📞 <a href=\"tel:+36308309808\" style=\"color:#8b7355; text-decoration:none;\">+36 30 830 9808</a></p>\n<p style=\"margin:0 0 5px 0; color:#555; font-size:14px;\">📍 Budapest, Hun u. 4./a. 1136</p>\n<p style=\"margin:0; font-size:14px;\"><a href=\"https://www.skinspirit.hu\" style=\"color:#8b7355; text-decoration:none; font-weight:bold;\">www.skinspirit.hu</a></p>\n</div>\n\n</div>\n\n<div style=\"background-color:#f9f6f2; padding:30px 20px; text-align:center; border-top:1px solid #e8e3d8;\">\n<table style=\"width:100%; max-width:380px; margin:0 auto 20px auto; border-collapse:collapse;\">\n<tr>\n<td style=\"width:50%; text-align:center; vertical-align:middle; padding:10px;\">\n<a href=\"https://www.instagram.com/skinspirit.hu/?hl=hu\" style=\"text-decoration:none;\">\n<img src=\"https://i.imgur.com/ctxQtYu.png\" alt=\"Instagram\" style=\"width:50px; height:50px;\">\n</a>\n</td>\n<td style=\"width:50%; text-align:center; vertical-align:middle; padding:10px;\">\n<a href=\"https://akcio.skinspirit.hu/\">\n<img src=\"https://i.imgur.com/uwMFrzS.png\" alt=\"QR Kód\" style=\"width:120px; height:120px;\">\n</a>\n</td>\n</tr>\n</table>\n<div style=\"text-align:center;\">\n<img src=\"https://i.imgur.com/dX6oZmt.png\" alt=\"SkinSpirit Logo\" style=\"max-width:220px; width:70%; height:auto; opacity:0.8;\">\n</div>\n</div>\n\n</div>\n\n</body>\n</html>`;\n\nconst icsBuffer = Buffer.from(item.icsContent, 'utf-8');\n\nreturn {\n  json: {\n    ...item,\n    subject: `Időpont megerősítés - SkinSpirit ${datum}`,\n    htmlBody: htmlBody\n  },\n  binary: {\n    attachment: {\n      data: icsBuffer.toString('base64'),\n      fileName: item.icsFilename,\n      fileExtension: 'ics',\n      mimeType: 'text/calendar'\n    }\n  }\n};"},"id":"136bce38-7ae5-4fc5-83a6-6e7c18cd722f","name":"Generate Email + ICS1","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-128]},{"parameters":{"fromEmail":"info@skinspirit.hu","toEmail":"={{ $('Webhook').item.json.query.Email }}","subject":"={{ $json.subject }}","html":"={{ $json.htmlBody }}","options":{"appendAttribution":false,"attachments":"attachment","bccEmail":"info@skinspirit.hu"}},"id":"001450eb-ef6b-4a8f-9d6e-fd9b52a19bc7","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[272,-128],"webhookId":"dd44f98c-817f-4947-95f5-5a8d33bf9242","credentials":{"smtp":{"id":"IgQU9XvXTsgTRchf","name":"SkinSpirit"}}},{"parameters":{"chatId":"8710129061","text":"=📅 Időpont visszaigazolás elküldve\n👤 {{ $('Get row(s) in sheet').item.json['Vezetéknév'] }} {{ $('Get row(s) in sheet').item.json['Keresztnév'] }}\n📧 {{ $('Get row(s) in sheet').item.json.Email }}\n🆔 {{ $('Get row(s) in sheet').item.json['Vendég ID'] }}\n🕐 {{ $('Get row(s) in sheet').item.json['Kezelés dátuma'] }} {{ $('Get row(s) in sheet').item.json['Kezelés kezdete'] }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,-128],"id":"24075a88-747b-415e-81b9-5d9f9f3ba05c","name":"Send a text message","webhookId":"794568a9-ca8f-4089-ac16-cae1aaaa31e0","credentials":{"telegramApi":{"id":"TWEb7fQ8yVfAWC62","name":"Kurucz Anett Telegram"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w","mode":"list","cachedResultName":"SS CRM test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1048312576,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit#gid=1048312576"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.accepted[0] }}","n8n_Első naptárbejegyzés":"={{ $now.format('yyyy-MM-dd') }}","Időpont egyeztetve":"true"},"matchingColumns":["Email"],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefon","displayName":"Telefon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keresztnév","displayName":"Keresztnév","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vezetéknév","displayName":"Vezetéknév","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Teljes Név","displayName":"Teljes Név","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nem","displayName":"Nem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bérlet","displayName":"Bérlet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bérlet Ár","displayName":"Bérlet Ár","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"1 db kezelés","displayName":"1 db kezelés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"1 db kezelés ár","displayName":"1 db kezelés ár","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Próbakezelés","displayName":"Próbakezelés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prioritás","displayName":"Prioritás","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Következő lépés","displayName":"Következő lépés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Telefon Státusz","displayName":"n8n_Telefon Státusz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Árajánlat Elküldve","displayName":"n8n_Árajánlat Elküldve","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Időpont egyeztetve","displayName":"Időpont egyeztetve","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Megjelent","displayName":"Megjelent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ügyfél lett","displayName":"Ügyfél lett","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vendég ID","displayName":"Vendég ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefon jegyzet","displayName":"Telefon jegyzet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Telefon Calendar","displayName":"n8n_Telefon Calendar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés dátuma","displayName":"Kezelés dátuma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés kezdete","displayName":"Kezelés kezdete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés ideje","displayName":"Kezelés ideje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés típusa","displayName":"Kezelés típusa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Első naptárbejegyzés","displayName":"n8n_Első naptárbejegyzés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Treatment_Details","displayName":"Treatment_Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Utalvány dátuma","displayName":"n8n_Utalvány dátuma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Utalvány lejárt","displayName":"n8n_Utalvány lejárt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Email utánkövetés utolsó dátuma","displayName":"n8n_Email utánkövetés utolsó dátuma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Utánkövetések száma","displayName":"n8n_Utánkövetések száma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead_Source","displayName":"Lead_Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First_Contact_Method","displayName":"First_Contact_Method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last_Interaction_Date","displayName":"Last_Interaction_Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status_Details","displayName":"Status_Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Loss_Reason","displayName":"Loss_Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Webhook_Trigger","displayName":"Webhook_Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last_Webhook_Date","displayName":"Last_Webhook_Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Becsült érték","displayName":"Becsült érték","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fizetési státusz","displayName":"Fizetési státusz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vásárolt kezelések száma","displayName":"Vásárolt kezelések száma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lejárt kezelések száma","displayName":"Lejárt kezelések száma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4c0a5887-c6bd-4fcf-99a5-0f8f71bc99e5","name":"Update Sheet (Naptárbejegyzés)","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[464,-128],"credentials":{"googleApi":{"id":"BDK43PcepOa2ApxE","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w","mode":"list","cachedResultName":"SS CRM test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1048312576,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit#gid=1048312576"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.Email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,-128],"id":"4e1f96df-705f-40ac-baf4-5609a3675334","name":"Get row(s) in sheet","credentials":{"googleApi":{"id":"BDK43PcepOa2ApxE","name":"Google Service Account account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ggagird265usveqsqcvk1g1cdk@group.calendar.google.com","mode":"list","cachedResultName":"SkinSpirit"},"start":"={{ $('Generate ICS File1').item.json.gcStart }}","end":"={{ $('Generate ICS File1').item.json.gcEnd }}","useDefaultReminders":false,"additionalFields":{"color":"5","description":"=📞:  +{{ $json.Telefon }}\n📤: {{ $json.Email }}\n💃🏽: {{ $json['Telefon jegyzet'] }}","summary":"={{ $('Generate ICS File1').item.json['Teljes név'] }} - {{ $('Generate ICS File1').item.json['Kezelés típusa'] }}\n\n{{ $json['Vásárolt kezelések száma'] }} / {{ $json['Lejárt kezelések száma'] }} +1"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[800,-128],"id":"4589d6cf-f07c-455d-8e58-58687673580f","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"GYzR0CTUBb6Jm1pK","name":"Kurucz Anett Google Calendar"}}},{"parameters":{"path":"idopontkuldes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-128],"id":"a1df14fd-2c58-4e85-bffc-aa3e829be920","name":"Webhook","webhookId":"8145ca7a-59b7-42cc-9f94-22a802e6b40b"}],"connections":{"Mapper Code":{"main":[[{"node":"Generate ICS File1","type":"main","index":0}]]},"Generate ICS File1":{"main":[[{"node":"Generate Email + ICS1","type":"main","index":0}]]},"Generate Email + ICS1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Sheet (Naptárbejegyzés)","type":"main","index":0}]]},"Update Sheet (Naptárbejegyzés)":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mapper Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"errorWorkflow":"HchcRQCllho02oYL","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"93cf765b-8bb5-42d9-b139-9d8170b079f5","activeVersionId":"93cf765b-8bb5-42d9-b139-9d8170b079f5","versionCounter":165,"triggerCount":1,"shared":[{"updatedAt":"2026-02-24T22:41:14.677Z","createdAt":"2026-02-24T22:41:14.677Z","role":"workflow:owner","workflowId":"naUcl_IxlyRJR6rPp575A","projectId":"XZv9PbY59ZCA0gOc","project":{"updatedAt":"2025-12-10T13:50:14.258Z","createdAt":"2025-12-10T13:46:51.918Z","id":"XZv9PbY59ZCA0gOc","name":"Adam Duro <adam.duro11@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"19d3396f-0a28-45cb-9fe2-b9a83778f021","projectRelations":[{"updatedAt":"2025-12-10T13:46:51.919Z","createdAt":"2025-12-10T13:46:51.919Z","userId":"19d3396f-0a28-45cb-9fe2-b9a83778f021","projectId":"XZv9PbY59ZCA0gOc","user":{"updatedAt":"2026-03-13T09:09:50.000Z","createdAt":"2025-12-10T13:46:50.990Z","id":"19d3396f-0a28-45cb-9fe2-b9a83778f021","email":"adam.duro11@gmail.com","firstName":"Adam","lastName":"Duro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-10T13:49:19.608Z","personalization_survey_n8n_version":"1.123.4","companyIndustryExtended":["finance-insurance-industry"],"companySize":"personalUser","companyType":"other","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"hxaFTER39YdPkNHB","userActivatedAt":1765394830033,"npsSurvey":{"responded":true,"lastShownAt":1767623403584},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-12","isPending":false}}]}}],"tags":[{"updatedAt":"2026-02-05T13:18:22.872Z","createdAt":"2026-02-05T13:18:22.872Z","id":"xsMCw3Ffda60y0OB","name":"SS"}],"activeVersion":{"updatedAt":"2026-03-13T09:30:13.000Z","createdAt":"2026-03-13T09:29:41.578Z","versionId":"93cf765b-8bb5-42d9-b139-9d8170b079f5","workflowId":"naUcl_IxlyRJR6rPp575A","nodes":[{"parameters":{"jsCode":"const q = $input.item.json.query;\nconst rawDate = q[\"KezelesDatuma\"];\nlet formattedDate = rawDate;\nif (rawDate && rawDate.includes('/')) {\n  const parts = rawDate.split('/');\n  formattedDate = `${parts[2]}-${parts[0].padStart(2,'0')}-${parts[1].padStart(2,'0')}`;\n}\nreturn {\n  json: {\n    \"Keresztnév\": q[\"Keresztnev\"],\n    \"Teljes név\": q[\"Keresztnev\"] + \" \" + q[\"Vezeteknev\"],\n    \"Email\": q[\"Email\"],\n    \"Vendég ID\": q[\"VendegID\"],\n    \"Kezelés dátuma\": formattedDate,\n    \"Kezelés kezdete\": q[\"KezelesKezdete\"],\n    \"Kezelés típusa\": q[\"KezelesTipusa\"]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,-128],"id":"40f2b6fb-3f8c-4eaa-b9ac-34d1a19acec4","name":"Mapper Code"},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const datum = item.json['Kezelés dátuma'];\n  const ido = item.json['Kezelés kezdete'] || '10:00';\n  const kezelestipus = item.json['Kezelés típusa'] || 'Kezelés';\n  const nev = item.json['Teljes név'];\n  const email = item.json.Email;\n  \n  let dateStr = datum;\n  if (typeof datum === 'object' && datum.toISOString) {\n    dateStr = datum.toISOString().split('T')[0];\n  } else if (typeof datum === 'string' && datum.includes('.')) {\n    const parts = datum.split('.');\n    dateStr = `${parts[0]}-${parts[1].padStart(2,'0')}-${parts[2].padStart(2,'0')}`;\n  }\n  \n  const [hour, minute] = ido.split(':');\n  const startDateTime = `${dateStr}T${hour.padStart(2,'0')}:${minute.padStart(2,'0')}:00`;\n  \n  const start = new Date(startDateTime);\n  const end = new Date(start.getTime() + 60 * 60000);\n  \n  function formatDate(d) {\n    const y = d.getFullYear();\n    const m = String(d.getMonth()+1).padStart(2,'0');\n    const day = String(d.getDate()).padStart(2,'0');\n    const h = String(d.getHours()).padStart(2,'0');\n    const min = String(d.getMinutes()).padStart(2,'0');\n    const s = String(d.getSeconds()).padStart(2,'0');\n    return `${y}-${m}-${day}T${h}:${min}:${s}`;\n  }\n  \n  const icsContent = `BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//SkinSpirit//Idopont//HU\nBEGIN:VEVENT\nUID:${item.json['Vendég ID']}-${Date.now()}@skinspirit.hu\nDTSTART:${formatDate(start).replace(/[-:]/g,'')}\nDTEND:${formatDate(end).replace(/[-:]/g,'')}\nSUMMARY:SkinSpirit - lézer\nDESCRIPTION:Időpont: ${kezelestipus} kezelésre. Ne felejtsd el alaposan leborotválni a kezelendő területet a minél hatékonyabb eredmény érdekében. 😊\\nHelyszín: Budapest Hun u. 4./a. 1136\\nTelefon: +36 30 830 9808\nLOCATION:Budapest Hun u. 4./a. 1136\nSTATUS:CONFIRMED\nBEGIN:VALARM\nTRIGGER:-PT24H\nACTION:DISPLAY\nDESCRIPTION:Holnap van a SkinSpirit kezelésed!\nEND:VALARM\nEND:VEVENT\nEND:VCALENDAR`;\n  \n  results.push({\n    json: {\n      ...item.json,\n\n      // 🔹 EREDETI OUTPUTOK\n      icsContent: icsContent,\n      icsFilename: `SkinSpirit-Idopont-${dateStr}.ics`,\n      appointmentDate: dateStr,\n      appointmentTime: ido,\n\n      // 🔹 GOOGLE CALENDAR INPUT (ÚJ)\n      gcStart: formatDate(start),\n      gcEnd: formatDate(end)\n    }\n  });\n}\n\nreturn results;\n"},"id":"9263c0d8-358c-4b28-a824-bbc37e1a76c2","name":"Generate ICS File1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-128]},{"parameters":{"jsCode":"const item = $input.item.json;\nconst datum = item.appointmentDate;\nconst ido = item.appointmentTime;\nconst kezelestipus = item['Kezelés típusa'] || 'kezelésre';\n\nconst htmlBody = `<!DOCTYPE html>\n<html lang=\"hu\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#f9f6f2; font-family:Arial, sans-serif;\">\n\n<div style=\"max-width:650px; margin:0 auto; background-color:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.1);\">\n\n<div style=\"background-color:#f9f6f2; padding:20px 30px; text-align:left; border-bottom:1px solid #e8e3d8;\">\n  <img src=\"https://i.imgur.com/dX6oZmt.png\" alt=\"SkinSpirit\" style=\"height:30px; width:auto;\">\n</div>\n\n<div style=\"padding:40px 30px; background-color:#ffffff;\">\n\n<p style=\"font-size:16px; margin-bottom:20px; color:#333;\">Kedves ${item.Keresztnév}!</p>\n\n<p style=\"margin-bottom:20px; color:#555; line-height:1.6;\">Megerősítjük az időpontodat diódalézeres szőrtelenítésre! 🎉</p>\n\n<div style=\"background-color:#f0f8ff; padding:20px; border-left:4px solid #007bff; margin:20px 0;\">\n<p style=\"margin:0 0 10px 0; font-weight:bold; font-size:17px; color:#333;\">📅 Időpont részletei:</p>\n<p style=\"margin:5px 0; color:#555;\"><strong>Dátum:</strong> ${datum}</p>\n<p style=\"margin:5px 0; color:#555;\"><strong>Időpont:</strong> ${ido}</p>\n<p style=\"margin:5px 0; color:#555;\"><strong>Helyszín:</strong> Budapest, Hun u. 4./a. 1136</p>\n</div>\n\n<p style=\"margin-bottom:20px; color:#555; line-height:1.6;\">A csatolt naptárfájlt (.ics) megnyitva az időpont automatikusan bekerül a saját naptáradba! 📲</p>\n\n<p style=\"margin-bottom:20px; color:#555; line-height:1.6;\">Ha bármilyen kérdésed van, vagy módosítani szeretnéd az időpontot, nyugodtan hívj! 😊</p>\n\n<hr style=\"border:none; border-top:1px solid #e8e3d8; margin:30px 0;\">\n\n<div style=\"padding-top:10px;\">\n<p style=\"margin:0 0 10px 0; font-size:16px; color:#333;\"><strong>Várunk szeretettel! ☀️</strong></p>\n<p style=\"margin:0 0 8px 0; color:#555; font-size:15px;\"><strong>Kurucz Anett</strong></p>\n<p style=\"margin:0 0 5px 0; color:#555; font-size:14px;\">📞 <a href=\"tel:+36308309808\" style=\"color:#8b7355; text-decoration:none;\">+36 30 830 9808</a></p>\n<p style=\"margin:0 0 5px 0; color:#555; font-size:14px;\">📍 Budapest, Hun u. 4./a. 1136</p>\n<p style=\"margin:0; font-size:14px;\"><a href=\"https://www.skinspirit.hu\" style=\"color:#8b7355; text-decoration:none; font-weight:bold;\">www.skinspirit.hu</a></p>\n</div>\n\n</div>\n\n<div style=\"background-color:#f9f6f2; padding:30px 20px; text-align:center; border-top:1px solid #e8e3d8;\">\n<table style=\"width:100%; max-width:380px; margin:0 auto 20px auto; border-collapse:collapse;\">\n<tr>\n<td style=\"width:50%; text-align:center; vertical-align:middle; padding:10px;\">\n<a href=\"https://www.instagram.com/skinspirit.hu/?hl=hu\" style=\"text-decoration:none;\">\n<img src=\"https://i.imgur.com/ctxQtYu.png\" alt=\"Instagram\" style=\"width:50px; height:50px;\">\n</a>\n</td>\n<td style=\"width:50%; text-align:center; vertical-align:middle; padding:10px;\">\n<a href=\"https://akcio.skinspirit.hu/\">\n<img src=\"https://i.imgur.com/uwMFrzS.png\" alt=\"QR Kód\" style=\"width:120px; height:120px;\">\n</a>\n</td>\n</tr>\n</table>\n<div style=\"text-align:center;\">\n<img src=\"https://i.imgur.com/dX6oZmt.png\" alt=\"SkinSpirit Logo\" style=\"max-width:220px; width:70%; height:auto; opacity:0.8;\">\n</div>\n</div>\n\n</div>\n\n</body>\n</html>`;\n\nconst icsBuffer = Buffer.from(item.icsContent, 'utf-8');\n\nreturn {\n  json: {\n    ...item,\n    subject: `Időpont megerősítés - SkinSpirit ${datum}`,\n    htmlBody: htmlBody\n  },\n  binary: {\n    attachment: {\n      data: icsBuffer.toString('base64'),\n      fileName: item.icsFilename,\n      fileExtension: 'ics',\n      mimeType: 'text/calendar'\n    }\n  }\n};"},"id":"136bce38-7ae5-4fc5-83a6-6e7c18cd722f","name":"Generate Email + ICS1","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-128]},{"parameters":{"fromEmail":"info@skinspirit.hu","toEmail":"={{ $('Webhook').item.json.query.Email }}","subject":"={{ $json.subject }}","html":"={{ $json.htmlBody }}","options":{"appendAttribution":false,"attachments":"attachment","bccEmail":"info@skinspirit.hu"}},"id":"001450eb-ef6b-4a8f-9d6e-fd9b52a19bc7","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[272,-128],"webhookId":"dd44f98c-817f-4947-95f5-5a8d33bf9242","credentials":{"smtp":{"id":"IgQU9XvXTsgTRchf","name":"SkinSpirit"}}},{"parameters":{"chatId":"8710129061","text":"=📅 Időpont visszaigazolás elküldve\n👤 {{ $('Get row(s) in sheet').item.json['Vezetéknév'] }} {{ $('Get row(s) in sheet').item.json['Keresztnév'] }}\n📧 {{ $('Get row(s) in sheet').item.json.Email }}\n🆔 {{ $('Get row(s) in sheet').item.json['Vendég ID'] }}\n🕐 {{ $('Get row(s) in sheet').item.json['Kezelés dátuma'] }} {{ $('Get row(s) in sheet').item.json['Kezelés kezdete'] }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,-128],"id":"24075a88-747b-415e-81b9-5d9f9f3ba05c","name":"Send a text message","webhookId":"794568a9-ca8f-4089-ac16-cae1aaaa31e0","credentials":{"telegramApi":{"id":"TWEb7fQ8yVfAWC62","name":"Kurucz Anett Telegram"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w","mode":"list","cachedResultName":"SS CRM test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1048312576,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit#gid=1048312576"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.accepted[0] }}","n8n_Első naptárbejegyzés":"={{ $now.format('yyyy-MM-dd') }}","Időpont egyeztetve":"true"},"matchingColumns":["Email"],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefon","displayName":"Telefon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keresztnév","displayName":"Keresztnév","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vezetéknév","displayName":"Vezetéknév","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Teljes Név","displayName":"Teljes Név","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nem","displayName":"Nem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bérlet","displayName":"Bérlet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bérlet Ár","displayName":"Bérlet Ár","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"1 db kezelés","displayName":"1 db kezelés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"1 db kezelés ár","displayName":"1 db kezelés ár","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Próbakezelés","displayName":"Próbakezelés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prioritás","displayName":"Prioritás","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Következő lépés","displayName":"Következő lépés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Telefon Státusz","displayName":"n8n_Telefon Státusz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Árajánlat Elküldve","displayName":"n8n_Árajánlat Elküldve","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Időpont egyeztetve","displayName":"Időpont egyeztetve","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Megjelent","displayName":"Megjelent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ügyfél lett","displayName":"Ügyfél lett","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vendég ID","displayName":"Vendég ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefon jegyzet","displayName":"Telefon jegyzet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Telefon Calendar","displayName":"n8n_Telefon Calendar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés dátuma","displayName":"Kezelés dátuma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés kezdete","displayName":"Kezelés kezdete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés ideje","displayName":"Kezelés ideje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kezelés típusa","displayName":"Kezelés típusa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Első naptárbejegyzés","displayName":"n8n_Első naptárbejegyzés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Treatment_Details","displayName":"Treatment_Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Utalvány dátuma","displayName":"n8n_Utalvány dátuma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Utalvány lejárt","displayName":"n8n_Utalvány lejárt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Email utánkövetés utolsó dátuma","displayName":"n8n_Email utánkövetés utolsó dátuma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n_Utánkövetések száma","displayName":"n8n_Utánkövetések száma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead_Source","displayName":"Lead_Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First_Contact_Method","displayName":"First_Contact_Method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last_Interaction_Date","displayName":"Last_Interaction_Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status_Details","displayName":"Status_Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Loss_Reason","displayName":"Loss_Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Webhook_Trigger","displayName":"Webhook_Trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last_Webhook_Date","displayName":"Last_Webhook_Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Becsült érték","displayName":"Becsült érték","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fizetési státusz","displayName":"Fizetési státusz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vásárolt kezelések száma","displayName":"Vásárolt kezelések száma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lejárt kezelések száma","displayName":"Lejárt kezelések száma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4c0a5887-c6bd-4fcf-99a5-0f8f71bc99e5","name":"Update Sheet (Naptárbejegyzés)","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[464,-128],"credentials":{"googleApi":{"id":"BDK43PcepOa2ApxE","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w","mode":"list","cachedResultName":"SS CRM test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1048312576,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-7elsL-4g_XrxdDOzxR14fwnX5oVwCc6Kol2FBao1w/edit#gid=1048312576"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.Email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,-128],"id":"4e1f96df-705f-40ac-baf4-5609a3675334","name":"Get row(s) in sheet","credentials":{"googleApi":{"id":"BDK43PcepOa2ApxE","name":"Google Service Account account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ggagird265usveqsqcvk1g1cdk@group.calendar.google.com","mode":"list","cachedResultName":"SkinSpirit"},"start":"={{ $('Generate ICS File1').item.json.gcStart }}","end":"={{ $('Generate ICS File1').item.json.gcEnd }}","useDefaultReminders":false,"additionalFields":{"color":"5","description":"=📞:  +{{ $json.Telefon }}\n📤: {{ $json.Email }}\n💃🏽: {{ $json['Telefon jegyzet'] }}","summary":"={{ $('Generate ICS File1').item.json['Teljes név'] }} - {{ $('Generate ICS File1').item.json['Kezelés típusa'] }}\n\n{{ $json['Vásárolt kezelések száma'] }} / {{ $json['Lejárt kezelések száma'] }} +1"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[800,-128],"id":"4589d6cf-f07c-455d-8e58-58687673580f","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"GYzR0CTUBb6Jm1pK","name":"Kurucz Anett Google Calendar"}}},{"parameters":{"path":"idopontkuldes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-128],"id":"a1df14fd-2c58-4e85-bffc-aa3e829be920","name":"Webhook","webhookId":"8145ca7a-59b7-42cc-9f94-22a802e6b40b"}],"connections":{"Mapper Code":{"main":[[{"node":"Generate ICS File1","type":"main","index":0}]]},"Generate ICS File1":{"main":[[{"node":"Generate Email + ICS1","type":"main","index":0}]]},"Generate Email + ICS1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Sheet (Naptárbejegyzés)","type":"main","index":0}]]},"Update Sheet (Naptárbejegyzés)":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mapper Code","type":"main","index":0}]]}},"authors":"Adam Duro","name":"Version 93cf765b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-13T09:30:13.675Z","id":105,"workflowId":"naUcl_IxlyRJR6rPp575A","versionId":"93cf765b-8bb5-42d9-b139-9d8170b079f5","event":"activated","userId":"19d3396f-0a28-45cb-9fe2-b9a83778f021"}]}}